<h2><%= t('user_edit') %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username, required: true, autofocus: true, label: t('devise.edit.username') %>
    <%= f.input :firstname, required: false, label: t('devise.edit.first_name') %>
    <%= f.input :lastname, required: false, label: t('devise.edit.last_name') %>
    <%= f.input :email, required: true, label: t('devise.edit.email') %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, label: t('devise.edit.password'), autocomplete: "off", hint: t('devise.edit.leave_blank'), required: false %>
    <%= f.input :password_confirmation, required: false, label: t('devise.edit.password_confirmation') %>
    <%= f.input :current_password, label: t('devise.edit.password_current'), required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('devise.edit.confirm') %>
  </div>
<% end %>

<h3><%= t('devise.edit.delete_account') %></h3>

<p><%= link_to t('devise.edit.delete_account'), registration_path(resource_name), data: {confirm: t('devise.edit.you_sure')}, class: 'btn btn-danger', method: :delete %></p>
