<p id="notice"><%= notice %></p>

<h1><%= t('admin.subcategory') %></h1>

<table class = "table table-hover">
  <thead>
    <tr>
      <th><%= t('admin.name') %></th>
      <th><%= t('admin.category') %></th>
      <th><%= t('admin.created_at') %></th>
      <th><%= t('admin.updated_at') %></th>
      <th colspan='3' style='width: 15%; text-align: center;'><%= t('admin.action') %></th>
    </tr>
  </thead>

  <tbody>
    <% @subcategories.each do |subcategory| %>
      <tr>
        <td><%= subcategory.name %></td>
        <td><%= @category_name %></td>
        <td><%= subcategory.created_at%></td>
        <td><%= subcategory.updated_at %></td>
        <td><%= link_to t('admin.show'), subcategory, class: 'btn btn-default' %></td>
        <td><%= link_to t('admin.edit'), edit_subcategory_path(subcategory), class: 'btn btn-default' %></td>
        <td><%= link_to t('admin.delete'), subcategory, method: :delete, class: 'btn btn-default', data: { confirm: t('devise.edit.you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('admin.new_subcategory'), new_subcategory_path, class: 'btn btn-success' %>
