<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('admin.name') %>:</strong>
  <%= @subcategory.name %>
</p>

<p>
  <strong><%= t('admin.category') %>:</strong>
  <%=  Category.find(@subcategory.category_id).name %>
</p>

<%= link_to t('admin.edit'), edit_subcategory_path(@subcategory), class: 'btn btn-warning' %>
<%= link_to t('admin.back'), subcategories_path, class: 'btn btn-danger' %>
