<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subcategory.name %>
</p>

<p>
  <strong>Category:</strong>
  <%=  Category.find(@subcategory.category_id).name %>
</p>

<%= link_to 'Edit', edit_subcategory_path(@subcategory), class: 'btn btn-warning' %>
<%= link_to 'Back', subcategories_path, class: 'btn btn-danger' %>
