<p id="notice"><%= notice %></p>

<p>
  <strong>Result:</strong>
  <%= @result.result %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@result.user_id).inspect %>
</p>

<p>
  <strong>Word:</strong>
  <%= Word.find(@result.word_id).inspect %>
</p>

<%= link_to 'Edit', edit_result_path(@result), class: 'btn btn-warning' %>
<%= link_to 'Back', results_path, class: 'btn btn-danger' %>
