<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('admin.result') %>:</strong>
  <%= @result.result %>
</p>

<p>
  <strong><%= t('admin.user') %>:</strong>
  <%= User.find(@result.user_id).inspect %>
</p>

<p>
  <strong><%= t('admin.word') %>:</strong>
  <%= Word.find(@result.word_id).inspect %>
</p>

<%= link_to t('admin.edit'), edit_result_path(@result), class: 'btn btn-warning' %>
<%= link_to t('admin.back'), results_path, class: 'btn btn-danger' %>
