<% @words.each do |set| %>
  <div class="center">
    <h1 style="text-align:center;" ><%= t('choose.word') + set.name%></h1>
    <table class = "table table-hover">
      <thead>
      <tr>
        <th><%= t('polish') %></th>
        <th><%= t('english') %></th>
      <tr>
      </thead>

      <tbody>
      <% i=0%>
      <% while i < @words_hash.keys.length do %>
        <tr>
          <td><%= @words_hash.keys[0+i] %></td>
          <td><%= @words_hash.values[0+i] %></td>
        <tr>
          <% i += 1 %>
      <% end %>
      </tbody>
    </table>

    <%= link_to "Test", pages_test_path(id: set.id), class: 'btn btn-warning button_font',style: 'width:550px; height: 70px;'%><br/>
    <br/>
    <%= link_to t('exam'), pages_exam_path(id: set.id), class: 'btn btn-warning button_font',style: 'width:550px; height: 70px;'%>
  </div>
<% end %>

