<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @word.name %>
</p>

<p>
  <strong>Words:</strong>
  <%= @word.content %>
</p>


<p>
  <strong>Subcategory:</strong>
  <%= Subcategory.find(@word.subcategory_id).name%>
</p>

<%= link_to 'Edit', edit_word_path(@word), class: 'btn btn-warning' %>
<%= link_to 'Back', words_path, class: 'btn btn-danger' %>
