<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @word.name %>
</p>

<p>
  <strong>Words:</strong>
  <%= @word.word1pl %>
</p>

<p>
  <strong>Words:</strong>
  <%= @word.word1en %>
</p>

<p>
  <strong>Words:</strong>
  <%= @word.word2pl %>
</p>

<p>
  <strong>Words:</strong>
  <%= @word.word2en %>
</p>

<p>
  <strong>Words:</strong>
  <%= @word.word3pl %>
</p>

<p>
  <strong>Words:</strong>
  <%= @word.word3en %>
</p>

<p>
  <strong>Words:</strong>
  <%= @word.word4pl %>
</p>

<p>
  <strong>Words:</strong>
  <%= @word.word4en %>
</p>

<p>
  <strong>Words:</strong>
  <%= @word.word5pl %>
</p>

<p>
  <strong>Words:</strong>
  <%= @word.word5en %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= Subcategory.find(@word.subcategory_id).name%>
</p>

<%= link_to 'Edit', edit_word_path(@word), class: 'btn btn-warning' %>
<%= link_to 'Back', words_path, class: 'btn btn-danger' %>
