<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('admin.name') %>:</strong>
  <%= @word.name %>
</p>

<p>
  <strong><%= t('admin.word') %>:</strong>
  <%= @word.content %>
</p>


<p>
  <strong><%= t('admin.subcategory') %>:</strong>
  <%= @subcategory_name %>
</p>

<%= link_to t('admin.edit'), edit_word_path(@word), class: 'btn btn-warning' %>
<%= link_to t('admin.back'), words_path, class: 'btn btn-danger' %>
