<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('admin.name') %>:</strong>
  <%= @category.name %>
</p>

<%= link_to t('admin.edit'), edit_category_path(@category), class: 'btn btn-warning' %>
<%= link_to t('admin.back'), categories_path, class: 'btn btn-danger' %>
